/******************* Page Header **********************/
.page-header {
  background-color: rgba(0, 0, 0, 0.4);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: inline-flex;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2; /* 42/35 */
  color: var(--green-color);
}
.logo-link .sign {
  color: var(--white-color);
}
.nav-site {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-list .header-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 20px;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6; /* 28/18 */
  color: var(--white-color);
}
.header-link:hover {
  color: var(--green-color);
}

/**************************** Page Hero ****************************/
.hero {
  max-width: 1360px;
  min-height: 768px;
  padding-top: 209px;
  padding-bottom: 284px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero/hero-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bgc);
}
.hero-title {
  max-width: 493px;
  margin: 0 auto 25px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2; /* 66/55 */
  color: var(--hero-color);
}
.hero-text {
  max-width: 459px;
  margin: 0 auto 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7; /* 37/22 */
  color: var(--hero-color);
}
.hero-btn {
  margin: 0 auto;
}

/************************ Page Offers  **************************/
.offers {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--background);
}
.offers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers-item:not(:last-child) {
  margin-right: 50px;
}
.offers-item::before {
  display: block;
  content: '';
  margin-bottom: 8px;
  border-radius: 50%;
  width: 67px;
  height: 67px;
  margin: 0 auto 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--green-color);
}
.icon-university::before {
  background-image: url(../images/offers/university.svg);
}
.icon-pencil::before {
  background-image: url(../images/offers/pencil-alt.svg);
}
.icon-book::before {
  background-image: url(../images/offers/book-reader.svg);
}
.offers-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65; /* 33/20 */
}
.offers-text {
  max-width: 362px;
}

/************************ Page About *************************/
.about-container {
  display: flex;
  align-items: center;
  background-color: var(--green-color);
}
.about-left,
.about-right {
  flex-basis: 50%;
}
.about-right {
  padding-top: 84px;
  padding-right: 44px;
  padding-bottom: 84px;
  padding-left: 30px;
}

/*********************** Page Cases *********************/
.cases,
.team {
  padding: 50px 0;
}
.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.cases-item {
  flex-basis: calc((100% - 72px) / 4);
}

/********************** Page Blog ************************/
.blog-container {
  display: flex;
  align-items: center;
  background-color: var(--blue-color);
}
.blog-left,
.blog-right {
  flex-basis: 50%;
}
.blog-left {
  padding-top: 112px;
  padding-right: 44px;
  padding-bottom: 113px;
  padding-left: 30px;
}

/************************ Page Team **********************/
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-item:not(:last-child) {
  margin-right: 20px;
}
.team-img:hover,
.team-img:focus {
  box-shadow: var(--bgc-shadow);
}
.team-content {
  padding: 10px 50px;
}
.team-title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28; /* 32/25 */
}
.team-link {
  color: var(--primary-text);
}

/**************************** Page Form **************************/

.form-container {
  display: flex;
  align-items: center;
  background-color: var(--background);
}
.form-left,
.form-right {
  flex-basis: 50%;
}
.form-right {
  padding: 49px 30px 48px;
}
.form-title {
  margin-bottom: 34px;
}
.form-content {
  margin-bottom: 60px;
}

/******************** Page Contacts  *************************/
.contacts {
  padding: 20px 0;
  background-color: var(--primary-text);
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.footer-item:not(:last-child) {
  margin-right: 25px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--footer-bgc);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--green-color);
}
.field {
  margin-bottom: 36px;
}
.field:nth-child(2n) {
  margin-bottom: 60px;
}
.input-form {
  outline: none;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  width: 595px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
